<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="howto_live_regions" xml:lang="fr">
  <info>
    <link type="guide" xref="index#reading"/>
    <link type="next" xref="howto_whereami"/>
    <title type="sort">6. Zones dynamiques</title>
    <desc>Interagir avec du contenu web dynamique</desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Paternité - Partage dans les Mêmes Conditions 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Laurent Coudeur</mal:name>
      <mal:email>laurentc@iol.ie</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bruno Brouard</mal:name>
      <mal:email>annoa.b@gmail.com</mal:email>
      <mal:years>2011-12</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Julien Hardelin</mal:name>
      <mal:email>jhardlin@orange.fr</mal:email>
      <mal:years>2011, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mickael Albertus</mal:name>
      <mal:email>mickael.albertus@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Claude Paroz</mal:name>
      <mal:email>claude@2xlibre.net</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Charles Monzat</mal:name>
      <mal:email>charles.monzat@free.fr</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>
  <title>Zones dynamiques</title>
  <p>Une zone dynamique est une portion de page web mise à jour dynamiquement, comme un tableau de statistiques sportives, une liste d’actions courantes, le journal d’une discussion ou un avertissement affiché par la page que vous lisez. Bien que les zones dynamiques soient assez fréquentes, les pages web possédant des zones dynamiques complètement accessibles sont rencontrées beaucoup moins souvent. De nombreuses organisations s’occupent activement de ce problème.</p>
  <section id="politeness_levels">
    <title>Niveaux de politesse de zone dynamique</title>
    <p>Les zones dynamiques possèdent un niveau de « politesse » configuré par l’auteur qui permet de transmettre l’importance de l’information et de suggérer quand les utilisateurs doivent être informés par leur technologie d’assistance des nouvelles informations présentes dans cette zone dynamique. Les zones dynamiques peuvent être « désactivées », « polies » ou « affirmatives » jusqu’à être « péremptoires ».</p>
  </section>
  <section id="orca_support">
    <title>Prise en charge des zones dynamiques par <app>Orca</app></title>
    <p>Comme vous pouvez ne pas être d’accord avec le niveau de politesse spécifié par l’auteur des pages que vous lisez, <app>Orca</app> fournit un certain nombre de <link xref="commands_live_regions">commandes de zone dynamique</link> qui vous permettent de modifier le niveau de politesse d’une ou de toutes les régions d’une page. Vous pouvez aussi :</p>
    <list>
      <item>
        <p>activer ou désactiver la prise en charge des zones dynamiques,</p>
      </item>
      <item>
        <p>aller à la zone dynamique précédente ou suivante,</p>
      </item>
      <item>
        <p>aller à la dernière zone dynamique qui présente des informations,</p>
      </item>
      <item>
        <p>passer en revue les neuf derniers messages de zone dynamique qui ont été lus</p>
    </item>
    </list>
  </section>
</page>
