<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="commands_speech_settings" xml:lang="de">
  <info>
    <link type="next" xref="commands_braille"/>
    <link type="guide" xref="commands#speech_braille"/>
    <link type="seealso" xref="preferences_speech"/>
    <title type="sort">2. Spracheinstellungen</title>
    <title type="link">Sprache</title>
    <desc>Befehle zur Anpassung der Ausgabe von <app>Orca</app></desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011, 2012, 2021</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@googlemail.com</mal:email>
      <mal:years>2011, 2016, 2017, 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sascha Manns</mal:name>
      <mal:email>Sascha.Manns@mailbox.org</mal:email>
      <mal:years>2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Tim Sabsch</mal:name>
      <mal:email>tim@sabsch.com</mal:email>
      <mal:years>2018-2020</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jürgen Benvenuti</mal:name>
      <mal:email>gastornis@posteo.org</mal:email>
      <mal:years>2023</mal:years>
    </mal:credit>
  </info>
  <title>Befehle zu den Spracheinstellungen</title>
  <p>Die folgenden Befehle können zur Anpassung von <app>Orcas</app> Sprachausgabe verwendet werden. Sie werden bemerken, dass einige Befehle nicht zugewiesen sind. Lesen Sie <link xref="howto_key_bindings">Tastaturkürzel anpassen</link>, um mehr über die Zuweisung von Tastenkürzeln zu erfahren.</p>
  <list>
    <item>
      <p>Sprachausgabe ein-/ausschalten: <keyseq><key>Orca-Zusatztaste</key><key>S</key></keyseq></p>
    </item>
    <item>
      <p>Umschalten zwischen zellen- und zeilenweisem Vorlesen in einer Tabelle: <keyseq><key>Orca-Zusatztaste</key><key>F11</key></keyseq></p>
    </item>
    <item>
      <p>Umschalten der Ausführlichkeitsstufe zwischen gesprächig und kurz: <keyseq><key>Orca-Zusatztaste</key><key>V</key></keyseq></p>
    </item>
    <item>
      <p>Sprachausgabe der Einrückungen und Textausrichtungen ein/ausschalten: (Nicht zugewiesen)</p>
    </item>
    <item>
      <p>Die Art und Weise ändern, wie Zahlen vorgelesen werden: (Nicht zugewiesen)</p>
    </item>
    <item>
      <p>Zur nächsten Stufe der Sonderzeichenansage wechseln: (Nicht zugewiesen)</p>
    </item>
    <item>
      <p>Zur nächsten Stufe des Tastaturechos wechseln: (Nicht zugewiesen)</p>
    </item>
    <item>
      <p>Zum nächsten Großschreibungsstil wechseln: (Nicht zugewiesen)</p>
    </item>
    <item>
      <p>Sprechtempo verlangsamen: (Nicht zugewiesen)</p>
    </item>
    <item>
      <p>Sprechtempo erhöhen: (Nicht zugewiesen)</p>
    </item>
    <item>
      <p>Stimmhöhe verringern: (Nicht zugewiesen)</p>
    </item>
    <item>
      <p>Stimmhöhe erhöhen: (Nicht zugewiesen)</p>
    </item>
    <item>
      <p>Sprachlautstärke verringern: (Nicht zugewiesen)</p>
    </item>
    <item>
      <p>Sprachlautstärke erhöhen: (Nicht zugewiesen)</p>
    </item>
  </list>
</page>
