<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="howto_notifications" xml:lang="de">
  <info>
    <link type="guide" xref="index#reviewing"/>
    <link type="next" xref="howto_bookmarks"/>
    <title type="sort">5. Benachrichtigungen</title>
    <desc>Zuvor erhaltene Nachrichten lesen</desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011, 2012, 2021</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@googlemail.com</mal:email>
      <mal:years>2011, 2016, 2017, 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sascha Manns</mal:name>
      <mal:email>Sascha.Manns@mailbox.org</mal:email>
      <mal:years>2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Tim Sabsch</mal:name>
      <mal:email>tim@sabsch.com</mal:email>
      <mal:years>2018-2020</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jürgen Benvenuti</mal:name>
      <mal:email>gastornis@posteo.org</mal:email>
      <mal:years>2023</mal:years>
    </mal:credit>
  </info>
  <title>Benachrichtigungen</title>
  <p>Die GNOME-Arbeitsumgebung beinhaltet einen »Benachrichtungsbereich«, der verwendet werden kann, um dem Benutzer Informationen zu präsentieren. Beispiele an Benachrichtungen sind Chat-Nachrichten, Details zum Lied, das Ihr Mediaplayer anfängt zu spielen, sowie Warnungen zum Ladezustand des Akkus.</p>
  <p>Da Benachrichtungen dem Benutzer Informationen präsentieren sollen, ohne ihn in seiner Tätigkeit zu unterbrechen, neigen diese Nachrichten dazu, ziemlich schnell aufzutauchen und wieder zu verschwinden. Sie sind nicht fokussierbar. Auch wenn <app>Orca</app> Ihnen aufkommende Benachrichtigungen vorlesen wird, ist es zu einfach, <app>Orca</app>s Meldungen versehentlich zu unterbrechen, indem weitergetippt oder der Fokus geändert wird. Aus diesem Grund besitzt <app>Orca</app> drei Befehle, die Sie verwenden können, um auf bisher angezeigte Benachrichtigungen zuzugreifen:</p>
  <list>
    <item>
      <p>Die letzte (neueste) Benachrichtigung vorlesen</p>
    </item>
    <item>
      <p>Vorherige Benachrichtigung vorlesen</p>
    </item>
    <item>
      <p>Liste aller Benachrichtigungen vorlesen</p>
    </item>
  </list>
  <p>Die ersten zwei Befehle wurden hauptsächlich entwickelt, um schnell auf eine kürzlich erhaltene Benachrichtigung zugreifen zu können. Der letzte Befehl ist der mächtigste, da er Ihren Benachrichtigungsverlauf speichert.</p>
  <p>Wenn Sie die Liste an Benachrichtigungen betreten, werden Ihnen die Größe der Liste genannt und folgende Auswahlmöglichkeiten gegeben:</p>
  <list>
    <item><p>Drücken Sie »H« für Hilfe.</p></item>
    <item><p>Verwenden Sie Hoch, Runter, Pos1 und Ende, um in der Liste zu navigieren.</p></item>
    <item><p>Drücken Sie zum Verlassen die <key>Esc</key>-Taste.</p></item>
    <item><p>Drücken Sie die <key>Eingabetaste</key>, um die zuletzt vorgelesene Nachricht zu wiederholen.</p></item>
    <item><p>Drücken Sie eine Ziffer, um eine bestimmte Nachricht vorzulesen.</p></item>
  </list>
  <p>Beachten Sie, dass die zuletzt empfangene Nachricht ganz oben in der Liste steht.</p>
  <p>Alle <app>Orca</app>-Befehle zum Vorlesen von Benachrichtigungen sind standardmäßig nicht zugewiesen. Sie können sie einem Tastenkürzel Ihrer Wahl zuweisen. Dies ist beschrieben in der <link xref="howto_key_bindings">Einführung in Tastenkombinationen</link>.</p>
</page>
