<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="index" xml:lang="de">
  <info>
    <title type="text">Orca Bildschirmleser</title>
    <title type="link">Einführung in den <app>Orca</app> Bildschirmleser</title>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

    <desc>Orca ist ein kostenloser, quelloffener, flexibler und erweiterbarer Bildschirmleser, der Zugriff auf die grafische Arbeitsumgebung über Sprache und Braillezeile bietet.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011, 2012, 2021</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@googlemail.com</mal:email>
      <mal:years>2011, 2016, 2017, 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sascha Manns</mal:name>
      <mal:email>Sascha.Manns@mailbox.org</mal:email>
      <mal:years>2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Tim Sabsch</mal:name>
      <mal:email>tim@sabsch.com</mal:email>
      <mal:years>2018-2020</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jürgen Benvenuti</mal:name>
      <mal:email>gastornis@posteo.org</mal:email>
      <mal:years>2023</mal:years>
    </mal:credit>
  </info>

  <title><media type="image" mime="image/png" src="figures/orca-logo.png" its:translate="no">
      <span its:translate="yes">Das Logo von <app>Orca</app></span>
    </media> <app>Orca</app> Bildschirmleser</title>
  <note style="important">
    <title>Bevor Sie beginnen</title>
    <p>Wenn Sie mit den Navigationsbefehlen Ihrer Arbeitsumgebung noch nicht vertraut sind, schlagen wir Ihnen vor, zunächst die Dokumentation zu lesen.</p>
  </note>
  <section id="getting_started" style="2column">
    <title>Erste Schritte</title>
  </section>
  <section id="reading" style="2column">
    <title>Lesen von Dokumenten und Webseiten</title>
  </section>
  <section id="reviewing" style="2column">
    <title>Vorlesen von und Interaktion mit Bildschirminhalten</title>
  </section>
  <section id="quick_reference" style="2column">
    <title>Kurzreferenz</title>
  </section>
</page>
